@media screen {
  .container {
    background-color: #212121;

    @apply col-span-5 flex flex-col items-center;
  }

  .page {
    width: 900px;
    height: 900px;

    @apply block mt-0 mb-6 rounded shadow-2xl overflow-y-scroll	;
  }

  .footer {
    background-color: #212121;
    @apply mb-24 mt-0 text-white text-center opacity-50 leading-loose;
  }
}
